*,
::after,
::before {
	box-sizing: border-box;
}

section {
	display: block;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:hover {
	color: #0056b3;
	text-decoration: underline;
}

img {
	vertical-align: middle;
	border-style: none;
}

@media print {
	*,
	::after,
	::before {
		text-shadow: none!important;
		box-shadow: none!important;
	}
	a:not(.btn) {
		text-decoration: underline;
	}
	img {
		page-break-inside: avoid;
	}
	body {
		min-width: 992px!important;
	}
}


.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-arrow-up:before {
	content: "\f062";
}


.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
}


::-moz-selection {
	background: #00b0ff;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #00b0ff;
	color: #fff;
	text-shadow: none;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
	outline: 0;
}

body {
	background: #fff;
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 1.5px;
	color: #888;
	line-height: 30px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

.dark-bg {
	background-color: #101015;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	font-family: "Poppins", sans-serif;
}

a,
a:visited {
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #111;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	outline: 0;
}

a:hover,
a:active {
	color: #00b0ff;
	text-decoration: none;
	outline: 0;
}

a:focus {
	text-decoration: none;
	outline: 0;
}

.full-portfolio-wrapper {
	position: relative;
}

.flexbox-portfolio {
	column-width: 235px;
	column-gap: 0px;
	padding: 0px;
}

.flexbox-portfolio .item {
	position: relative;
}

.flexbox-portfolio .item img {
	width: 100%;
}

.flexbox-portfolio .item a {
	position: absolute;
	bottom: 10px;
	left: 0;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0px;
	color: #eb9d37;
	z-index: 2;
	padding-left: 50px;
	padding-top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
}

.flexbox-portfolio .item:hover a {
	opacity: 1;
}

.flexbox-portfolio .item:hover:after {
	opacity: 0;
}

.flexbox-portfolio .item:hover:before {
	opacity: 1;
}

.flexbox-portfolio .item:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(32, 32, 32, 0.8);
	z-index: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	opacity: 1;
}

.flexbox-portfolio .item:before {
	position: absolute;
	content: '';
	height: 2px;
	width: 40px;
	background-color: #eb9d37;
	bottom: 22px;
	left: 5px;
	z-index: 2;
	opacity: 0;
}

@media only screen and (max-width: 767px) {
	.full-portfolio-wrapper {
		padding-left: 120px;
	}
}